body {
	
	max-width: 100%;
	font-family: 'Open Sans', sans-serif;

	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/background.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: 100%;
	background-position: 50%;
}

.header h1 {
	color: white;
	font-weight: lighter;
	font-size: 80px;
	text-align: center;
	margin-top: 125px;
	margin-bottom: 0px;
}

.header h2 {
	color: #b1b1b1;
	font-weight: lighter;
	text-align: center;
	margin-top: 0px;
}

.header ul {
	text-decoration: none;
	list-style: none;
	text-align: center;
	margin: 0px;
	padding: 0px;
}

.header li {
	display: inline-block;
	padding-left: 30px;
	padding-top: 50px;
}

.header li a {
	color: #b1b1b1;
	text-decoration: none;
	transition: color 0.3s ease;
	display: inline-block;
}

.header li a:hover {
	color: white;
	font-weight: bolder;
}

.home_videos {
	width: 80%;
	height: 50px;
	margin: 0 auto;
	margin-top: 200px;
	border-bottom: 1px solid #b1b1b1;
}

.home_videos h2 {
	display: inline-block;
	color: white;
	font-size: 20px;
}

.home_videos p {
	position: relative;top: 20px;
	margin: 0px;
	display: inline-block;
	color: #b1b1b1;
	font-size: 15px;
	float: right;
}

.home_three_list {
	width: 80%;
	text-align: center;
	margin: 0 auto;
}

.home_three_list img {
	width: 80%;
	margin-top: 40px;
}

.home_three_list h3 {
	color: white;
	font-size: 15px;
}

#home_one {
	width: 32%;
	float: left;
	display: inline-block;
	border-right: 1px solid #b1b1b1;
	border-bottom: 1px solid #b1b1b1;
}

#home_two {
	border-bottom: 1px solid #b1b1b1;
	width: 32%;
	display: inline-block;
}

#home_three {
	border-bottom: 1px solid #b1b1b1;
	border-left: 1px solid #b1b1b1;
	float: right;
	width: 32%;
	display: inline-block;
}

#h2_events {
	color: white;
	font-size: 20px;
	text-align: left;
	margin-top: 120px;
}

.home_events {
	width: 80%;
	height: 80px;

}

#events_one {
	border-top: 1px solid #b1b1b1;
}

p:first-child {
	color: #b1b1b1;
	display: inline-block;
	text-align: left;
}

p:nth-child(2) {
	color: white;
	font-weight: bolder;
	font-size: 20px;
	display: inline-block;

}

p:nth-child(3) {
	color: #b1b1b1;
	font-weight: bolder;
	display: inline-block;
}

p:nth-child(4) {
	color: #b1b1b1;
	display: inline-block;

}